body {
    margin: 8px;
    display: block;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

article {
    border-style: solid;
    margin-right: 250px;
    margin-left: 250px;
    margin-bottom: 65px;
    margin-top: 65px;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-right: 75px;
    padding-left: 75px;
    text-align: left;
}

.credits {
    font-style: italic;
    font-weight: bold;
    text-align: right;
}

#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
}